html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
.box div{
	width: 50%;
	height: 25%;
	float: left;
	text-align: center;
	vertical-align: middle;
}
a{
	height: 100%;
	width: 100%;
	display: block;
	vertical-align: middle;
	font-size: 20px;
	
	text-decoration: none;
}
#white-cell{
	color: #000;
	background-color: #fff;
}
#black-cell{
	color: #fff;
	background-color: #000;
}