html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.cell{
	display: block;
	width: 50%;
	height: 25%;
	float: left;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
#white-cell{
	color: black;
	background-color: #fff;
}
#black-cell{
	color: white;
	background-color: #000;
}