html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
a{
	display: block;
	width: 50%;
	height: 25%;
	line-height: 25%;
	float: left;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
#white-cell{
	color: #000;
	background-color: #fff;
}
#black-cell{
	color: #fff;
	background-color: #000;
}